body {
  padding-top: 200px;
  margin: 0 60px;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

body h1 {

  margin-bottom: 50px;
}

.submit-area {
  padding: 40px;
  background-color: #fefefd;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.3);
}

#transaction-area {
  display: none;
}

#transaction-area .col-md-3 {
  padding: 30px 20px;
  border-radius: 8px;
}

.deposit {
  background-color: #5e4ec5;
  color: white;
  ;
}

.withdraw {
  background-color: #ef956e;
  color: #ffffff;
}

.balance {
  background-color: #ee9a00;
  color: #ffffff;
}